# Python dependencies for demo app
Flask~=3.0.0

# Flask Google Groups Auth module
git+https://github.com/jwdavis/flask-google-groups-auth.git@4e6e19434a0ebad3210512c3b2db403b9d0d27f7

# For development (optional)
python-dotenv>=1.0.0
